<mat-toolbar color="primary" #navbar>
  <span><a routerLink="/">ng-tgtg</a></span>
  <nc-search></nc-search>
  <span class="navbar-spacer"></span>
  <div *ngIf="user; else anonymous">
    {{ user.name }}
    <button (click)="logout()"
            mat-icon-button aria-label="Déconnexion">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
  <ng-template #anonymous>
    <span><a class="mat-h4 mat-tab-link mr-15" routerLink="login">{{ 'buttons.login' | translate }}</a></span>
    <span><a class="mat-h4 mat-tab-link mr-15" routerLink="register">{{ 'buttons.register' | translate }}</a></span>
  </ng-template>
  <button routerLink="/help"
          mat-icon-button class="help-icon" aria-label="Aide en ligne">
    <mat-icon>help</mat-icon>
  </button>
  <button (click)="toggleLang()" mat-mini-fab class="lang">{{ lang === 'fr' ? 'fr' : 'en' }}</button>
</mat-toolbar>
