a {
  color: white;
  text-decoration: none;
}

.lang {
  width: 24px;
  height: 24px;
  line-height: 20px;
  font-size: 14px;

  &::ng-deep .mat-button-wrapper {
    line-height: 20px;
    padding: 0;
  }
}
